<div *ngIf="user" class="p-3">
    <!-- Title -->
    <h1 class="text-3xl font-bold mb-4">User Profile</h1>

    <!-- Email -->
    <div class="mb-4">
        <span class="text-sm font-medium text-gray-500">Email:</span>
        <p class="text-gray-800">{{ user.email }}</p>
        <span>
            <span *ngIf="user.email_confirmed_at; else notConfirmed" class="text-green-500 font-semibold">✔️ Confirmed</span>
        <ng-template #notConfirmed>
            <span class="text-red-500">❌ Not confirmed</span>
        </ng-template>
        </span>
    </div>

    <!-- Sign-In Provider -->
    <div class="mb-4">
        <span class="text-sm font-medium text-gray-500">Provider:</span>
        <p class="text-gray-800 capitalize">{{ user.app_metadata.provider }}</p>
    </div>
    <app-button-tertiary (click)="logout()">Log out</app-button-tertiary>
</div>