<div class="flex justify-center min-h-screen items-center p-6 mb-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full max-w-4xl">
        <div *ngFor="let pricing of prices">
            <!-- Basic Plan -->
            <div *ngIf="!pricing.point_out" class="border border-gray-300 rounded-lg p-4 bg-white shadow-md">
                <h2 class="text-2xl font-semibold text-gray-800">{{pricing.subscription_type}}</h2>
                <p class="mt-2 text-gray-500">${{pricing.price}}/{{'pricing.occurence'|translate}}</p>
                <p class="text-gray-700 mt-4">{{'global.includes'|translate}} <span class="font-bold">{{pricing.credits}}</span> {{'global.credits'|translate}}</p>
                <ul *ngFor="let feature of pricing.features" class="text-gray-600 space-y-2">
                    <li>✔️ {{feature}}</li>
                </ul>
                <button class="mt-6 w-full bg-blue-500 text-white font-semibold py-2 rounded hover:bg-blue-600">
                    {{'global.choose'|translate}} {{pricing.subscription_type}}
                </button>
            </div>

            <!-- Premium Plan -->
            <div *ngIf="pricing.point_out" class="border border-yellow-500 rounded-lg p-4 bg-yellow-100 shadow-lg transform scale-105">
                <h2 class="text-3xl font-semibold text-yellow-700">{{pricing.subscription_type}}</h2>
                <p class="mt-2 text-yellow-600 font-bold">${{pricing.price}}/{{'pricing.occurence'|translate}}</p>
                <p class="text-gray-800 mt-4">{{'global.includes'|translate}} <span class="font-bold">{{pricing.credits}}</span> {{'global.credits'|translate}}</p>

                <ul *ngFor="let feature of pricing.features" class="text-yellow-700 space-y-2">
                    <li>✔️ {{feature}}</li>
                </ul>
                <button class="mt-6 w-full bg-yellow-600 text-white font-semibold py-2 rounded hover:bg-yellow-700">
                    {{'global.choose'|translate}} {{pricing.subscription_type}}
            </button>
            </div>
        </div>
    </div>
</div>