@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
// --primary-color: #185ABC
// --secondary-color: #E8F0FE
* {
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;